<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction list</title>
</head>
<body>
<h1>Transaction list for user <span th:text="${userId}">[userid]</span></h1>
<table>
    <tbody>
    <tr>
        <th>Receiver</th>
        <th>amount</th>
        <th>Reference</th>
    </tr>
    <tr th:each="transaction: ${transactions}">
        <td th:text="${transaction.id}">[receiver]</td>
        <td th:text="${transaction.amount}">[amount]</td>
        <td th:text="${transaction.reference}">[reference]</td>
    </tr>
    </tbody>
</table>
</body>
</html>